body {
  background: url("images/marks.jpg") no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  color: #333;
}

.custom-footer {
  text-align: center;
  padding: 15px;
  background-color: #f8f9fa;
  border-top: 1px solid #ddd;
  width: 100%;
}

.custom-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.custom-button:hover {
  background-color: #218838;
}

.no-poll-text {
  color: #6c757d;
    margin-top: 1.5rem;
}